.tab {
  border: 1px solid #d3d3d3;
  padding: 1rem;

  .ops-member {
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 40px;
    padding-left: 2rem;
    padding-right: 1rem;

    &:hover {
      color: #1890ff;
      background-color: #e6f7ff;
    }
  }

  .selected {
    color: #1890ff;
    background-color: #e6f7ff;
    border-right: 4px solid;
  }
}
