<!-- https://stackoverflow.com/a/51349145/4331033 -->
<!--<ng-container *ngTemplateOutlet="race; context: {raceData: f1RaceResult$ | async}"></ng-container>-->

<!--<ng-template #race let-raceResult="raceData">-->
<!--  <h1>Race Result {{raceResult | json}}</h1>-->
<!--</ng-template>-->

<div class="result-container">
  <h2>{{(f1RaceResult$ | async)?.MRData?.RaceTable?.Races?.[0]?.raceName}}</h2>
  <app-driver-result *ngFor="let result of (f1RaceResult$ | async)?.MRData?.RaceTable?.Races?.[0]?.Results" [driverResult]="result" />
</div>

